@use "tailwindcss";
@use "@danieljoffe.com/ui/styles/index.scss";

@layer base {
  :root {
    --stop-color-one: #000;
    --stop-color-two: #000;
    --stop-color-three: #000;
    --stop-color-four: #000;
    --stop-color-five: #000;
    --stop-color-six: #000;
    --stop-color-seven: #000;
    --stop-color-eight: #000;
  }

  body {
    @apply text-neutral-900;
  }

  code,
  pre {
    @apply text-sm font-mono;
  }
}
